@model IEnumerable<Merkato.Lib.Models.AgentStatus>

@{
    ViewData["Title"] = "Index";
}

<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Agent Status</h3>
                </div>
                <div class="col col-xs-6 text-right">
                    <a asp-action="Create" class="btn btn-sm btn-default btn-create">Create New</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="datatable" class="table table-striped table-bordered table-list">
                <thead>
                    <tr class="btn-primary">
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a title="Edit" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a> |
                                <a title="Details" class="btn btn-xs btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="glyphicon glyphicon-info-sign"></i></a> |
                                <a title="delete" class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">

            </div>
        </div>
    </div>
</div>
