<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MERKATO | @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/metro.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/DataTables/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/DataTables/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="~/DataTables/css/buttons.dataTables.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/jquery.timepicker.css">

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="~/lib/jquery-ui/themes/cupertino/jquery-ui.css" />*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/libs/ionicons/dist/css/ionicons.min.css">

    <!-- jvectormap -->
    @*<link rel="stylesheet" href="bower_components/jvectormap/jquery-jvectormap.css">*@
    @*<link rel="stylesheet" href="~/libs/jvectormap/jquery-jvectormap.css">*@

    <!--datepicker-->
    <link rel="stylesheet" href="~/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables.net-bs/css/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/libs/admin-lte/dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="~/DataTables/css/buttons.dataTables.css">
    <link rel="stylesheet" href="~/DataTables/css/buttons.dataTables.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/skins/_all-skins.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery-ui.min.css")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    @RenderBody()
    <!-- ./wrapper -->
    <!-- jQuery 3.1.1 -->

    <script src="~/js/jquery-3.1.1.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <!-- Bootstrap 3.3.7 -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/libs/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/jquery-ui/jquery-ui.js"></script>*@
    <!-- Bootstrap 3.3.7 -->
    @*<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="~/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/libs/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/libs/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="~/libs/admin-lte/dist/js/adminlte.min.js"></script>

    <script src="~/js/adminlte.min.js"></script>
    <script src="~/Scripts/Datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Datatables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
</body>
</html>





@RenderSection("Scripts", false)