@model Merkato.Lib.Models.Location

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-6">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Details</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" asp-action="Details">
            <div class="box-body">
                <div class="col-md-10">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Code">Code</label>
                        <input asp-for="Code" class="form-control" placeholder="Code" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Code" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>  |
                <a class="cm-fat-cursor" data-toggle="modal" data-target="#exampleModal">Delete</a>  |
                <a asp-action="Index">Back to List</a>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-controller="Locations" asp-action="Delete" asp-route-Id="@Model.Id">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="text-capitalize">Delete</span>
                        <span class="pull-right">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </span>
                    </h5>

                </div>
                <div class="modal-body">

                    <div class="text-bold">
                        Do you want to delete this item ?
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>

@*<h2>Details</h2>

    <div>
        <h4>Location</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Supervisor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Supervisor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
